/* 
       Name: Altai Pashin
       Student ID: 101007054
       Date: 6 June 2025
       Description: HTML and CSS 
       for the layout task assignment 3 part 2
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
    display: flex;
    width: 200px;
    height: 150px;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* I converted online from 18 px to rem */
    font-size: 1.125rem;
    background-color: red;
    color: white;

}